/*상단 테이블*/
header
{
    border-bottom: 5px solid gray;
    padding:20px;
}
/*nav 왼쪽 항목에 놓기*/
nav
{
    border-right: 5px solid gray;
    width:200px;
    height: 600px;
    padding:20px;
    float:left;
}
/*article 테두리에 맞게 띄우기*/
article
{
    float: left;
    padding: 20px;
    width : 500px;
}
/*nav ol 태그의 숫자 없애기*/
nav ol
{
    list-style: none;    
}

#control
{
    float:right;
}

body.white
{
   background-color:white;
   color:black;
}

body.black
{
   background-color:black;
   color:white;
}
